.container {
    text-align: center;
    padding-top: 4%;
    word-wrap:break-word;
    overflow: hidden;
    position: relative;
}

.container span {
    color: green;
    font-size: 32px;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}