.menu-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 5px;
}

.menu-container li {
  list-style: none;
  padding: 6px;
  font-weight: 500;
}

.menu-container li:hover {
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.menu-container a:focus,
.menu-container a:hover,
.menu-container a:visited,
.menu-container a:link,
.menu-container a:active {
  text-decoration: none;
  color: black;
}
