.checkout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.checkout-items {
  width: 480px;
}

.checkout-items ul {
  list-style-type: none;
  padding: 0;
  max-height: 400px;
  overflow-y: scroll;
}

.checkout-items ul::-webkit-scrollbar {
  width: 3px;
}

.checkout-items ul::-webkit-scrollbar-thumb {
  background-color: #adadad;
}
