.checkout-outer {
  margin: 8%;
}

.checkout-container {
  display: flex;
  flex-wrap: wrap;
}

.item-group {
  width: 684.985px;
}

.checkout-container ul {
  flex: 1;
  list-style-type: none;
  padding: 0;
  max-height: 481.161px;
  overflow-y: scroll;
}

.checkout-container form {
  flex: 1;
}

.checkout-container ul::-webkit-scrollbar {
  width: 6px;
}

.checkout-container ul::-webkit-scrollbar-thumb {
  background-color: #adadad;
}
